.sidebar-container {
    padding: 0 !important;
}

.sidebar {
    padding-bottom: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.type-signature {
    color: #999 !important;
}

.main-wrapper :any-link:not(.link-anchor) {
    color: #3bf !important;
    font-weight: bold;
}